body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("./img/fantAsia4.jpg");
    background-size: cover;
    /*background-attachment: fixed;*/
}

#TonberryLogo {
  height: 10%;
  width: 45.4%;
  /*height: 90px;
  width: 408.6px;*/
  margin-left: 55px;
  margin-top: 27px;
/*  Translucent Background for Logo(doesn't look correct)*/
  /*background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;*/

}

/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #aa4e4e;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}


/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}


/* General sidebar styles */

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}


/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}


/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

a {
    font-family: 'Press Start 2P', cursive;
    color: #aa4e4e;
    padding: 5px;
}

#fillDiv {
  font-family: 'Cormorant Garamond', serif;
  float: right;
  margin-top: 400px;
  margin-right: 125px;
  max-width: 150px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
}
